.pai{
    background-color: antiquewhite;
    width: 800px;
    height: 250px;
    border: solid 2px #000;
    margin: 10px;
    border-radius: 10px;
}
.caixa{
    background-color: rgb(230, 206, 178);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
.titulo{
    font-family: monospace;
    margin-left: 5px;        
}

.cor{
    color: blue;
    font-size: 50px;
}

